*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
body {
  margin: 0px;
}
.left-shield, .right-shield {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 250px;
  background: black;
}
.left-shield {
  left: 0;
}
.right-shield {
  right: 0;
}
.left, .right {
  position: absolute;
  bottom: 0;
}
.left {
  left: 150px;
}
.right {
  right: 150px;
}
.b {
  margin-bottom:40px;
}
.hidden {
  opacity: 0;
}
.left .label, .right .button {
  float: right;
  margin-left: 30px;
}
.label, .button {
  display: inline-block;
  padding: 10px;
  background: #fff;
}
.label {
  width: 400px;
  height: 70px;
}
.button {
  width: 70px;
  height: 70px;
}
.card {
  display: none;
}
/*
body {
  font-size: 40px;
  background: orange;
  font-family: sans-serif;
}
.title {
  text-align: center;
  margin-top: 300px;
  font-size: 70px;
}
.label, .button {
  border: 3px solid black;
}
.left .label {
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}
.right .label {
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}
.button {
  border-radius:10px;  
}
*/
