.title {
  text-align: center;
  margin-top: 250px;
}
body {
  font-size: 40px;
  font-family: "Arial"
}
.background {
	background-color:green;
}
.left .label {
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}
.right .label {
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}