body {
  font-size: 40px;
  font-family: "Arial"
}
.background {
  background-color: white;
}
.title {
  margin-top: 75px;
  margin-left: 75px;
}
.left .label {
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}
.right .label {
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}