.title {
  text-align: left;
  margin-top: 100px;
    padding-left:300px;
}
body {
  font-size: 40px;
  font-family: "Arial";
  background: #1e5799; /* Old browsers */
  background: rgba(255,202,11,1);
  background: -moz-linear-gradient(left, rgba(255,202,11,1) 0%, rgba(255,149,0,1) 100%);
  background: url(materjalid/Swedbank_logo.png) 50% 50%, -webkit-gradient(left top, right top, color-stop(0%, rgba(255,202,11,1)), color-stop(100%, rgba(255,149,0,1)));
  background: -webkit-linear-gradient(left, rgba(255,202,11,1) 0%, rgba(255,149,0,1) 100%);
  background: -o-linear-gradient(left, rgba(255,202,11,1) 0%, rgba(255,149,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,202,11,1) 0%, rgba(255,149,0,1) 100%);
  background:   
      url("img/Swedbank_logo.png") 50% 50% no-repeat, 
      linear-gradient(to right, rgba(255,202,11,1) 0%, rgba(255,149,0,1) 100%)
      ;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca0b', endColorstr='#ff9500', GradientType=1 );
  
}
.label, .button {
  border: 3px solid black;
}

