body {
  font-size: 40px;
  font-family: 'Bowlby One', "Arial", sans-serif;
  text-transform: uppercase;
  color: #ad2120;
}
.background {
  background: url("../images/lotte_taust.jpg") top right no-repeat;
  background-position: center;
  background-size: cover;
}
.label {
  width: 650px;
  height: 70px;
  padding: 10px 20px;
}
.title {
  color: white;
  margin-top: 50px;
  margin-left: 320px;
  font-size: 70px;
  width: 25%;
  line-height: 1.2em;
  text-shadow: 5px 5px 12px rgba(0,0,0,0.15);
  z-index: 10000 !important;
}
.right .b {
  text-align: left;
}
.left .label  {
  border-radius: 0 50px 50px 0;
  box-shadow: 5px 5px 12px 2px rgba(0,0,0,0.25);
  line-height: 1.4em;
}
.right .label  {
  border-radius: 50px 0 0 50px;
  box-shadow: 5px 5px 12px 2px rgba(0,0,0,0.25);
  line-height: 1.4em;
}
.button {
  border-radius: 6px;
}

.field {
  margin-top: 360px;
}